@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
	font-family: 'Montserrat', serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right bottom, #e4a7db, #d234db, #a22dce, #7d3ac5, #4d56bd);
    display: flex;
    justify-content: center;
    align-items: center;
}